/* poppins text style */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* inter text style */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* manrope text style */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
body {
  margin: 0;
  padding: 0;
}
/* poppins text style */
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* inter text style  */
.inter-regular {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.inter-bold {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* manrope text style  */
.manrope-bold {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* sheared styles */
.display-flex {
  display: flex;
}
.main-width {
  width: 1068px;
  margin: 0 auto;
}

/* header styles */
/* nav styles start  */

.nav-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.nav-box {
  display: flex;
  gap: 30px;
}
.nav-box li {
  list-style: none;
}
.nav-box li a {
  color: #3a3a3a;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 0.9rem;
}
.nav-title {
  font-size: 1.35rem;
}
/* header styles start  */
.influencer {
  justify-content: space-between;
}
.influencer-container {
  max-width: 517px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}
.influencer-title {
  margin: 0px;
  font-size: 2.89rem;
  color: #3a3a3a;
}
.influencer-description {
  font-size: 0.86rem;
  color: #3a3a3a;
}
.btn-primary {
  color: #ffffff;
  background-color: #e02c6d;
  border: none;
  padding: 10px 20px;
  border-radius: 36px;
  font-size: 0.89rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

.influencer-img {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
}
.bg-image {
  height: 423px;
  width: 423px;
  margin-top: 44px;
}
.camera-image {
  height: 390px;
  width: 390px;
  margin-top: -400px;
  margin-bottom: 30px;
  margin-left: 10px;
}
/* sponsor companies styles start  */
.sponsore {
  align-items: center;
  justify-content: center;
  margin: 40px 0px 60px 0px;
}
.sponsore-item {
  gap: 53px;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border: 2px solid gray;
}
/* populer collection styles start   */
.collection {
  width: 940px;
  margin: 0 auto;
}
.collection-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #3a3a3a;
  margin-top: 100px;
  margin-bottom: 30px;
}
.collection-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 26px;
  width: 100%;
}
.collection-cart {
  background-color: #ffffff;
  padding: 15px 15px 0px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.collection-cart img {
  max-width: 267px;
  height: 228px;
}
.cart-title {
  font-size: 1.35rem;
  color: #18191f;
  margin: 14px 0px 5px 0px;
}
.cart-price {
  font-size: 1.35rem;
  margin: 0px 0px 5px 0px;
}
.ratings-container {
  margin: 15px 0px 0px 0px;
  display: flex;
}
.ratings-container i {
  color: #fb8200;
  padding: 0px 1px;
}
.ratings-container span {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  color: #5e6366;
  margin-left: 8px;
}
.cart-description {
  max-width: 172px;
  margin: 5px 0px 15px 0px;
  font-size: 0.8rem;
  color: #787885;
}
.btn-link {
  margin: 50px 0px;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  color: #e02c6d;
  font-size: 0.89rem;
}
/* featured product stylles  */
.featured-product {
  width: 990px;
  margin: 0 auto;
}
.featured-product-item{
  gap: 85px;
  align-items: center;
  margin: 50px 0px;
}
.featured-product-title{
  font-size: 1.95rem;
  color: #0A0826;
  margin: 0 auto;
}
.featured-product-description{
  font-size: 0.85rem;
  color: #6C6C6C;
  margin: 14px 0px 16px 0px;
}
.btn-secondery{
  align-items: center;
  gap: 8px;
  border: none;
  color: #FFFFFF;
  background-color: #E02C6D;
  padding: 10px 24px;
}
/* footer part styles */
footer{
  padding: 45px 0px;
  background-color: #0A0826;
  color: #FFFFFF;
}
.footer-container{
  width: 235px;
  margin: 0 auto;
  text-align: center;
}
.footer-title{
  font-size: 1.35rem;
  margin: 0px 0px 5px 0px;
}
.footer-description{
  font-size: 0.75rem;
  margin: 0 auto;
  line-height: 25px;
  text-align: center;
  color: #D9DBE1;
}
.icons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  margin: 10px 0px 0px 0px;
  font-size: 30px;
}
/* small device responsive */
@media screen and (max-width:576px) {
  .nav-container{
    display: flex;
    flex-direction: column;
    width: 576px;
  }
}

